
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button id="btnJsonTest">Get JsonTest Data</button>
@section scripts
{
	<script>
		
	</script>
}
@*<script>
	onclick="$.getJSON('/AR/JsonTest','',
	function(data){console.log(data);}}
	)"
</script>*@